<button onclick="goBack()" style="
  background-color: green;
  color: black;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
">
🔙 بازگشت
</button>

<script>
  function goBack() {
    window.history.back();
  }
</script>